@model HWScheduler.ViewModels.HomeworkList
@{
    ViewData["Title"] = "Home Page";
}
@foreach (var v in Model.Homeworks)
{
    <p>@v.Class.Department</p>
    <p>@v.Info.Precedence</p>
    <p>@v.Line.Tagname</p>
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>