body{
    font-family: Arial, Helvetica, sans-serif;
}
.indent{
    text-indent: 2em;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
.bottom{
    bottom:0;
    position: fixed;
    width: 100%
}
.list-center{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
.full-card{
    width: 100%;
    margin-left: 10%;
    margin-right: 10%;
}