body{
    font-family: Arial, Helvetica, sans-serif;
}
.img-small{
    height: 20em;
    /* Learned this property from w3schools, the dang photo was HUGE */
    object-fit: scale-down;
}
.indent{
    text-indent: 2em;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
.bottom{
    bottom:0;
    position: fixed;
    width: 100%
}
.list-center{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}