@model RGBColor
@{
    ViewData["Title"] = "RGB Color";
    
}
<div class="row">
    <div class="col">
        <div asp-validation-summary="All" style="color:red; background-color:orange;"></div>
        <form method="GET"  asp-controller="Home" asp-action="ColorPicker">
            <div class="form-group" >
                <label >Red:
                    <input asp-for="Red" type="number" min="0" max="255" class="form-control">  
                </label>
                <br>
                <label >Green:
                    <input asp-for="Green" type="number" min="0" max="255" class="form-control">  
                </label>
                <br>
                <label>Blue:
                    <input asp-for="Blue" type="number" min="0" max="255" class="form-control">  
                </label>
            </div>
            <button type="submit" class="btn btn-outline-primary">Enter Values</button>
        </form>
    </div>
    <div class="col">
        <div class="card" style="background-color:@Model.Hex;height:90%; border-color:black;"></div>
        <div class="card">
            <h4 class="card-title">@Model.Hex</h4>
        </div>
    </div>
</div>
